*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  position: relative;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #333;
  box-sizing: border-box; }

.nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 0 3rem;
  height: 6rem;
  background-color: #078fce;
  z-index: 100; }

.main-content {
  position: relative;
  width: 100%;
  height: calc(100vh - 6rem);
  max-height: calc(100vh - 6rem);
  min-height: calc(80rem - 6rem);
  padding: 0 4rem;
  margin-top: 6rem;
  background-color: #94cee9; }
  @media only screen and (max-width: 36em) {
    .main-content {
      padding: 0 2rem; } }
  .main-content__heading {
    position: absolute;
    top: 18rem;
    left: 10rem; }
    @media only screen and (max-width: 62.25em) {
      .main-content__heading {
        top: 14rem; } }
    @media only screen and (max-width: 36em) {
      .main-content__heading {
        top: 8rem;
        left: 6rem; } }
  .main-content__btn {
    position: absolute;
    top: 40rem;
    left: 25rem; }
    @media only screen and (max-width: 75em) {
      .main-content__btn {
        top: 45rem;
        left: 20rem; } }
    @media only screen and (max-width: 62.25em) {
      .main-content__btn {
        top: 35rem; } }
    @media only screen and (max-width: 36em) {
      .main-content__btn {
        top: 30rem;
        left: 50%;
        transform: translateX(-50%); } }

.method-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 8rem 5rem 2rem 5rem;
  background-color: #fff; }
  .method-content__information {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 5rem 3rem 3rem 3rem; }
    @media only screen and (max-width: 62.25em) {
      .method-content__information {
        width: 100%; } }
  .method-content__item {
    flex: 0 0 50%;
    min-height: 32rem;
    padding: 0 7.25% 5rem 7.25%; }
    @media only screen and (max-width: 62.25em) {
      .method-content__item {
        padding: 0 6% 5rem 6%; } }
    @media only screen and (max-width: 62.25em) {
      .method-content__item {
        flex: 0 0 100%;
        padding: 0 5% 5rem 5%;
        min-height: 0; } }
  .method-content__title {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 3.4rem;
    font-weight: 400;
    text-transform: capitalize; }
    @media only screen and (max-width: 75em) {
      .method-content__title {
        font-size: 3rem; } }
    @media only screen and (max-width: 62.25em) {
      .method-content__title {
        font-size: 2.6rem; } }
  .method-content__text {
    font-size: 1.8rem;
    font-weight: 300;
    text-align: center; }
  .method-content__icon-box {
    width: 16rem;
    height: 16rem;
    margin: 0 auto 1.5rem auto;
    text-align: center; }
    @media only screen and (max-width: 75em) {
      .method-content__icon-box {
        width: 12rem;
        height: 12rem; } }
    @media only screen and (max-width: 62.25em) {
      .method-content__icon-box {
        width: 8rem;
        height: 8rem; } }

.method-pricing {
  width: 100%;
  padding: 6rem 4rem;
  background: linear-gradient(to bottom, #47c6ec 50%, #fff 50%); }
  @media only screen and (max-width: 62.25em) {
    .method-pricing {
      padding: 8rem 3rem 8rem 3rem;
      background: linear-gradient(to bottom, #47c6ec 0% 100%); } }
  .method-pricing__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .method-pricing__info-text {
    width: 40%;
    min-width: 30rem;
    margin-top: 1.5rem;
    text-align: center; }
    @media only screen and (max-width: 62.25em) {
      .method-pricing__info-text {
        width: 70%; } }
  .method-pricing__information {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 12rem; }
    @media only screen and (max-width: 62.25em) {
      .method-pricing__information {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center; } }
    @media only screen and (max-width: 62.25em) {
      .method-pricing__information {
        margin-top: 5rem; } }

.pricing-card {
  width: 38rem;
  min-height: 55rem;
  padding: 0 5rem;
  margin: 0 1rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: all .3s; }
  @media only screen and (max-width: 75em) {
    .pricing-card {
      width: 30rem;
      min-width: 26rem;
      margin: 0 1.2rem; } }
  @media only screen and (max-width: 62.25em) {
    .pricing-card {
      width: 35rem;
      min-height: 50rem;
      padding: 2rem 5rem; }
      .pricing-card:not(:last-of-type) {
        margin-bottom: 2.6rem; } }
  @media only screen and (max-width: 36em) {
    .pricing-card {
      min-height: 48rem; } }
  .pricing-card:hover {
    margin-top: -12rem;
    box-shadow: 0 3px 15px 3px rgba(51, 51, 51, 0.5); }
    @media only screen and (max-width: 62.25em) {
      .pricing-card:hover {
        margin-top: 0; } }
  .pricing-card__type {
    margin-top: 4rem;
    text-align: center;
    font-size: 5.2rem;
    font-weight: 400;
    text-transform: uppercase; }
    @media only screen and (max-width: 75em) {
      .pricing-card__type {
        font-size: 4rem; } }
    @media only screen and (max-width: 36em) {
      .pricing-card__type {
        margin-top: 3rem;
        font-size: 3rem; } }
  .pricing-card__pricing {
    margin-top: 1rem;
    text-align: center;
    font-size: 4rem;
    font-weight: 400; }
    @media only screen and (max-width: 75em) {
      .pricing-card__pricing {
        font-size: 2.8rem; } }
  .pricing-card__btn-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 3rem; }
  .pricing-card__list {
    width: 100%;
    margin-top: 3rem; }
  .pricing-card__item {
    width: 100%;
    font-size: 2.2rem;
    font-weight: 400; }
    @media only screen and (max-width: 75em) {
      .pricing-card__item {
        font-size: 2rem; } }
    .pricing-card__item:not(:last-of-type) {
      margin-bottom: 1rem; }

.method-reward {
  width: 100%;
  padding: 5rem 3rem; }
  @media only screen and (max-width: 62.25em) {
    .method-reward {
      padding: 8rem 3rem; } }
  .method-reward__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .method-reward__info-text {
    min-width: 30rem;
    margin-top: 1.5rem;
    text-align: center; }
  .method-reward__information {
    padding: 4.5rem 3rem 0 3rem; }

.reward-card {
  display: flex;
  align-items: center;
  width: 100rem;
  border: 3px solid #ccc;
  border-radius: 3px;
  margin: 0 auto;
  transform: skewX(-10deg); }
  .reward-card > * {
    transform: skewX(10deg); }
  .reward-card:not(:last-child) {
    margin-bottom: 4rem; }
  @media only screen and (max-width: 75em) {
    .reward-card {
      width: 80rem; } }
  @media only screen and (max-width: 62.25em) {
    .reward-card {
      width: 40rem;
      flex-direction: column;
      transform: skewX(0deg); }
      .reward-card > * {
        transform: skewX(0deg); } }
  @media only screen and (max-width: 36em) {
    .reward-card {
      width: fit-content; } }
  .reward-card__img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 30rem; }
    @media only screen and (max-width: 75em) {
      .reward-card__img-box {
        flex: 0;
        padding: 2rem; } }
  .reward-card__info {
    flex: 1;
    height: 100%;
    padding: 3rem 2rem; }
    @media only screen and (max-width: 75em) {
      .reward-card__info {
        padding: 1.5rem 2rem; } }
  .reward-card__img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border: 0.6rem solid #ccc;
    border-radius: 50%;
    overflow: hidden; }
    @media only screen and (max-width: 75em) {
      .reward-card__img {
        width: 18rem;
        height: 18rem; } }
  .reward-card__star-box {
    margin-bottom: 1rem; }
    @media only screen and (max-width: 75em) {
      .reward-card__star-box {
        margin-bottom: 0; } }
    @media only screen and (max-width: 62.25em) {
      .reward-card__star-box {
        display: flex;
        align-items: center;
        justify-content: flex-end; } }
    .reward-card__star-box > *:not(:last-child) {
      margin-right: .5rem; }
  .reward-card__comment-box {
    margin-bottom: 2rem; }
  .reward-card__name {
    height: 4.8rem;
    font-size: 3rem;
    font-weight: 700;
    text-transform: capitalize; }
    @media only screen and (max-width: 75em) {
      .reward-card__name {
        height: 4rem;
        font-size: 2.6rem; } }
  .reward-card__comment {
    font-size: 2rem;
    font-weight: 400; }
  .reward-card__time {
    font-size: 1.8rem;
    font-weight: 300;
    font-style: italic; }
    @media only screen and (max-width: 75em) {
      .reward-card__time {
        text-align: right; } }

.footer {
  width: 100%;
  padding-top: 5rem;
  background-color: #ccc; }
  .footer__location {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0 3rem; }
  .footer__copy-right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    margin-top: 2rem; }
  .footer__logo {
    margin-right: 8%; }
    @media only screen and (max-width: 75em) {
      .footer__logo {
        margin-right: 5rem; } }
  .footer__link-item {
    display: flex;
    flex-wrap: wrap; }
  .footer__link-group {
    min-width: 20rem;
    margin-bottom: 3rem; }
    @media only screen and (max-width: 75em) {
      .footer__link-group {
        min-width: 12rem; } }
  .footer__link-type {
    font-size: 1.8rem;
    font-weight: 700; }
  .footer__list {
    margin-top: 1rem; }
  .footer__list-item {
    font-size: 1.8rem;
    font-weight: 400;
    text-decoration: underline;
    list-style-type: none;
    cursor: pointer; }
    .footer__list-item:hover {
      opacity: .7; }
  .footer__copy-right {
    font-size: 1.8rem;
    font-weight: 700; }

.heading-first {
  text-transform: uppercase;
  font-size: 7.2rem;
  line-height: 7.2rem;
  font-weight: 900; }
  @media only screen and (max-width: 75em) {
    .heading-first {
      font-size: 6rem;
      line-height: 6rem; } }
  @media only screen and (max-width: 62.25em) {
    .heading-first {
      font-size: 5rem;
      line-height: 5rem; } }
  @media only screen and (max-width: 36em) {
    .heading-first {
      font-size: 4rem;
      line-height: 4rem; } }
  .heading-first__text {
    font-size: inherit;
    word-spacing: .8rem; }
    .heading-first__text_sub {
      padding-left: 5rem;
      margin-top: -1rem;
      font-size: 3.2rem;
      font-style: italic;
      letter-spacing: 1rem; }
      @media only screen and (max-width: 75em) {
        .heading-first__text_sub {
          font-size: 2.6rem;
          margin-top: 0;
          letter-spacing: .8rem; } }
      @media only screen and (max-width: 62.25em) {
        .heading-first__text_sub {
          font-size: 2.4rem; } }
      @media only screen and (max-width: 36em) {
        .heading-first__text_sub {
          margin-top: 2rem;
          font-size: 2rem;
          line-height: 2rem;
          letter-spacing: 0; } }

.heading-secondary {
  text-align: center;
  text-transform: uppercase;
  font-size: 5.4rem;
  line-height: 5.4rem;
  font-weight: 700; }
  @media only screen and (max-width: 75em) {
    .heading-secondary {
      font-size: 4.4rem;
      line-height: 4.4rem; } }
  @media only screen and (max-width: 36em) {
    .heading-secondary {
      font-size: 3.4rem;
      line-height: 3.4rem; } }

.heading-third {
  font-size: 2.4rem;
  font-weight: 400; }
  @media only screen and (max-width: 75em) {
    .heading-third {
      font-size: 2rem; } }

.main-btn {
  width: 30rem;
  height: 6rem;
  border-radius: 5rem;
  border: 5px solid #078fce;
  outline: none;
  font-size: 3rem;
  font-weight: 400;
  color: #fff;
  background-color: #078fce;
  cursor: pointer;
  transition: all .3s; }
  .main-btn:hover {
    box-shadow: 0 0 1px 6px #078fce; }
  @media only screen and (max-width: 36em) {
    .main-btn {
      width: 24rem;
      font-size: 2.4rem; } }

.pricing-btn {
  display: block;
  width: 24rem;
  height: 5rem;
  border-radius: 5rem;
  border: 5px solid #078fce;
  outline: none;
  font-size: 2.6rem;
  font-weight: 400;
  color: #fff;
  background-color: #078fce;
  cursor: pointer;
  transition: all .3s; }
  .pricing-btn:hover {
    box-shadow: 0 0 1px 6px #078fce; }
  @media only screen and (max-width: 75em) {
    .pricing-btn {
      font-size: 2rem; } }

.logo {
  font-size: 2.8rem;
  font-weight: 900;
  color: #fff; }
  .logo_main {
    color: #078fce; }

.icon-method {
  width: 100%;
  height: 100%;
  fill: #078fce; }

.icon-star {
  width: 3rem;
  height: 3rem;
  fill: #fac32c; }
