*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  position: relative;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #333;
  box-sizing: border-box; }

.nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 6rem;
  padding: 0 3rem;
  background-color: #078fce;
  z-index: 100; }
  .nav__logo {
    font-size: 2.8rem;
    font-weight: 900;
    color: #fff; }

.main-content {
  position: relative;
  width: 100%;
  height: calc(100vh - 6rem);
  min-height: calc(80rem - 6rem);
  margin-top: 6rem;
  background-color: #94cee9; }
  .main-content__heading {
    position: absolute;
    top: 18rem;
    left: 10rem; }
  .main-content__btn {
    position: absolute;
    top: 40rem;
    left: 25rem; }

.method-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 4rem 5rem 2rem 5rem;
  background-color: #fff; }
  .method-content__infomation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 3rem; }
  .method-content__item {
    flex: 0 0 30%;
    height: 32rem;
    margin: 0 10rem 2.4rem 10rem; }
  .method-content__title {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 3.4rem;
    font-weight: 400;
    text-transform: capitalize; }
  .method-content__text {
    font-size: 1.8rem;
    font-weight: 300;
    text-align: center; }
  .method-content__icon-box {
    width: 100%;
    height: 16rem;
    margin-bottom: 1.5rem;
    text-align: center; }

.method-pricing {
  width: 100%;
  height: 100rem;
  background: linear-gradient(to bottom, #47c6ec 50%, #fff 50%); }
  .method-pricing__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10rem; }
  .method-pricing__info-text {
    width: 40%;
    min-width: 30rem;
    margin-top: 1.5rem;
    text-align: center; }
  .method-pricing__infomation {
    display: flex;
    justify-content: center;
    width: 100%; }

.pricing-card {
  width: 38rem;
  height: 55rem;
  padding: 0 5rem;
  margin: 12rem 1rem 0 1rem;
  background-color: #fff;
  border: 1px solid #ccc;
  transition: all .3s; }
  .pricing-card:hover {
    margin-top: 9rem;
    box-shadow: 0 3px 15px 3px rgba(51, 51, 51, 0.5); }
  .pricing-card__type {
    margin-top: 4rem;
    text-align: center;
    font-size: 5.2rem;
    font-weight: 400;
    text-transform: uppercase; }
  .pricing-card__pricing {
    margin-top: 1rem;
    text-align: center;
    font-size: 4rem;
    font-weight: 400; }
  .pricing-card__type {
    margin-top: 4rem;
    text-align: center;
    font-size: 5.2rem;
    font-weight: 400;
    text-transform: uppercase; }
  .pricing-card__btn-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 3rem; }
  .pricing-card__list {
    width: 100%;
    margin-top: 3rem; }
  .pricing-card__item {
    width: 100%;
    height: 4rem;
    font-size: 2.2rem;
    font-weight: 400; }

.method-reward {
  width: 100%;
  height: 90rem; }
  .method-reward__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6rem; }
  .method-reward__info-text {
    width: 40%;
    min-width: 30rem;
    margin-top: 1.5rem;
    text-align: center; }

.reward-card {
  display: flex;
  align-items: center;
  width: 100rem;
  height: 30rem;
  border: 3px solid #ccc;
  border-radius: 3px;
  margin: 3rem auto;
  transform: skewX(-4deg); }
  .reward-card__img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 30rem; }
  .reward-card__info {
    flex: 1;
    height: 100%;
    padding: 3rem 2rem; }
  .reward-card__img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border: 0.6rem solid #ccc;
    border-radius: 50%;
    overflow: hidden; }
  .reward-card__star-box {
    margin-bottom: 1rem; }
    .reward-card__star-box > *:not(:last-child) {
      margin-right: .5rem; }
  .reward-card__comment-box {
    margin-bottom: 2rem; }
  .reward-card__name {
    height: 4.8rem;
    font-size: 3rem;
    font-weight: 700;
    text-transform: capitalize; }
  .reward-card__comment {
    font-size: 2rem;
    font-weight: 400; }
  .reward-card__time {
    font-size: 1.8rem;
    font-weight: 300;
    font-style: italic; }

.heading-first {
  text-transform: uppercase;
  font-size: 7.2rem;
  line-height: 7.2rem;
  font-weight: 900; }
  .heading-first__text {
    font-size: inherit;
    word-spacing: .8rem; }
    .heading-first__text_sub {
      padding-left: 5rem;
      margin-top: -1rem;
      font-size: 3.2rem;
      font-style: italic;
      letter-spacing: 1rem; }

.heading-secondary {
  text-transform: uppercase;
  font-size: 5.4rem;
  line-height: 7.2rem;
  font-weight: 700; }

.heading-third {
  font-size: 2.4rem;
  font-weight: 400; }

.main-btn {
  width: 30rem;
  height: 6rem;
  border-radius: 5rem;
  border: 5px solid #078fce;
  outline: none;
  font-size: 3rem;
  font-weight: 400;
  color: #fff;
  background-color: #078fce;
  cursor: pointer;
  transition: all .3s; }
  .main-btn:hover {
    box-shadow: 0 0 1px 6px #078fce; }

.pricing-btn {
  display: block;
  width: 24rem;
  height: 5rem;
  border-radius: 5rem;
  border: 5px solid #078fce;
  outline: none;
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
  background-color: #078fce;
  cursor: pointer;
  transition: all .3s; }
  .pricing-btn:hover {
    box-shadow: 0 0 1px 6px #078fce; }

.icon-method {
  width: 100%;
  height: 100%;
  fill: #078fce; }

.icon-star {
  width: 3rem;
  height: 3rem;
  fill: #fac32c; }
