// Color Setting ************************
$main-color-dark: #078fce;
$main-color-light: #94cee9;
$main-color-light2: #47c6ec;
$color-white: #fff;
$color-yellow-light: #fac32c;
$color-grey: #ccc;


// Value Setting ************************
$nav-height: 6rem;